﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="Evaluation_Container">
                <td valign="top" class="text"><span class="prompt">Evaluation:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="Evaluation"  AssociatedControlIDs="Evaluation_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="FoodSafetyHazardRelatedPrerequisite_Container">
                <td valign="top" class="text"><span class="prompt">Basic prerequisite:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="FoodSafetyHazardRelatedPrerequisite"  AssociatedControlIDs="FoodSafetyHazardRelatedPrerequisite_Container" runat="server" Width="350px"/>
                </td>
            </tr>
            <tr runat="server" ID="FoodSafetyHazardPrerequisiteConcerns_Container">
                <td valign="top" class="text"><span class="prompt">Concerns:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="FoodSafetyHazardPrerequisiteConcerns"  AssociatedControlIDs="FoodSafetyHazardPrerequisiteConcerns_Container" runat="server" Width="350px"/>
                </td>
            </tr>
            <tr runat="server" ID="Conclusion_Container">
                <td valign="top" class="text"><span class="prompt">Conclusion:</span></td>
                <td class="attribute">
                    <qlm:ComboBox  DataKey="Conclusion"  AssociatedControlIDs="Conclusion_Container" runat="server" Width="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>