﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="FoodSafetyHazardPlanNr_Container">
                <td valign="top" class="text"><span class="prompt">Number:</span></td>
                <td class="attribute">
                    <qlm:TextBox  DataKey="FoodSafetyHazardPlanNr"  AssociatedControlIDs="FoodSafetyHazardPlanNr_Container" runat="server" Width="100px"/>
                </td>
            </tr>
            <tr runat="server" ID="HasCriticalLimit_Container">
                <td valign="top" class="text"><span class="prompt">Critical limit:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="HasCriticalLimit"  AssociatedControlIDs="HasCriticalLimit_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="CriticalControlPointType_Container">
                <td valign="top" class="text"><span class="prompt">Type of control point:</span></td>
                <td class="attribute">
                    <qlm:ComboBox  DataKey="CriticalControlPointType"  AssociatedControlIDs="CriticalControlPointType_Container" runat="server" Width="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="AppliesTo_Container">
                <td valign="top" class="text"><span class="prompt">Food safety hazard analysis:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="AppliesTo"  AssociatedControlIDs="AppliesTo_Container" runat="server" Width="350px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>