﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="HasHACCPTeam_Container">
                <td valign="top" class="text"><span class="prompt">HACCP Team:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="HasHACCPTeam"  AssociatedControlIDs="HasHACCPTeam_Container" runat="server" Width="350px"/>
                </td>
            </tr>
            <tr runat="server" ID="HACCPScope_Container">
                <td valign="top" class="text"><span class="prompt">HACCP Analysis Scope:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="HACCPScope"  AssociatedControlIDs="HACCPScope_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="HACCPDescription_Container">
                <td valign="top" class="text"><span class="prompt">HACCP Analysis Description:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="HACCPDescription"  AssociatedControlIDs="HACCPDescription_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="TargetProcess_Container">
                <td valign="top" class="text"><span class="prompt">Target process:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="TargetProcess"  AssociatedControlIDs="TargetProcess_Container" runat="server" Width="350px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>