﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="Cause_Container">
                <td valign="top" class="text"><span class="prompt">Cause:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="Cause"  AssociatedControlIDs="Cause_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="FoodSafetyHazardConcerns_Container">
                <td valign="top" class="text"><span class="prompt">Activity:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="FoodSafetyHazardConcerns"  AssociatedControlIDs="FoodSafetyHazardConcerns_Container" runat="server" Width="350px"/>
                </td>
            </tr>
            <tr runat="server" ID="FoodSafetyHazardRelatedHazard_Container">
                <td valign="top" class="text"><span class="prompt">Food safety hazard:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="FoodSafetyHazardRelatedHazard"  AssociatedControlIDs="FoodSafetyHazardRelatedHazard_Container" runat="server" Width="350px"/>
                </td>
            </tr>
            <tr runat="server" ID="CorrectiveActions_Container">
                <td valign="top" class="text"><span class="prompt">Corrective actions:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="CorrectiveActions"  AssociatedControlIDs="CorrectiveActions_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="PreEvaluation_Container">
                <td valign="top" class="text"><span class="prompt">Initial evaluation:</span></td>
                <td class="attribute">
                    <qlm:ComboBox  DataKey="PreEvaluation"  AssociatedControlIDs="PreEvaluation_Container" runat="server" Width="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>