﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="FoodSafetyHazardReducedBy_Container">
                <td valign="top" class="text"><span class="prompt">Reduced by:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="FoodSafetyHazardReducedBy"  InMemory="true" AssociatedControlIDs="FoodSafetyHazardReducedBy_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>