﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="HazardType_Container">
                <td valign="top" class="text"><span class="prompt">HazardType:</span></td>
                <td class="attribute">
                    <qlm:TextBox  DataKey="HazardType"  AssociatedControlIDs="HazardType_Container" runat="server" Width="380px"/>
                </td>
            </tr>
            <tr runat="server" ID="MainProcessName_Container">
                <td valign="top" class="text"><span class="prompt">MainProcessName:</span></td>
                <td class="attribute">
                    <qlm:TextBox  DataKey="MainProcessName"  AssociatedControlIDs="MainProcessName_Container" runat="server" Width="380px"/>
                </td>
            </tr>
            <tr runat="server" ID="MainProcessID_Container">
                <td valign="top" class="text"><span class="prompt">MainProcessID:</span></td>
                <td class="attribute">
                    <qlm:TextBox  DataKey="MainProcessID"  AssociatedControlIDs="MainProcessID_Container" runat="server" Width="380px"/>
                </td>
            </tr>
            <tr runat="server" ID="ProcessName_Container">
                <td valign="top" class="text"><span class="prompt">ProcessName:</span></td>
                <td class="attribute">
                    <qlm:TextBox  DataKey="ProcessName"  AssociatedControlIDs="ProcessName_Container" runat="server" Width="380px"/>
                </td>
            </tr>
            <tr runat="server" ID="ProcessID_Container">
                <td valign="top" class="text"><span class="prompt">ProcessID:</span></td>
                <td class="attribute">
                    <qlm:TextBox  DataKey="ProcessID"  AssociatedControlIDs="ProcessID_Container" runat="server" Width="380px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>