﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="ReducedByPrerequisition_Container">
                <td valign="top" class="text"><span class="prompt">Hazard reduced by prerequisite:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="ReducedByPrerequisition"  AssociatedControlIDs="ReducedByPrerequisition_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="ReducedByActivity_Container">
                <td valign="top" class="text"><span class="prompt">Hazard reduced by activity:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="ReducedByActivity"  AssociatedControlIDs="ReducedByActivity_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>