﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="FoodSafetyHazardVerification_Container">
                <td valign="top" class="text"><span class="prompt">Verification:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="FoodSafetyHazardVerification"  AssociatedControlIDs="FoodSafetyHazardVerification_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="HasVerificationResponsible_Container">
                <td valign="top" class="text"><span class="prompt">Verification responsible:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="HasVerificationResponsible"  AssociatedControlIDs="HasVerificationResponsible_Container" runat="server" Width="350px"/>
                </td>
            </tr>
            <tr runat="server" ID="HasVerificationForm_Container">
                <td valign="top" class="text"><span class="prompt">Verification form:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="HasVerificationForm"  AssociatedControlIDs="HasVerificationForm_Container" runat="server" Width="350px"/>
                </td>
            </tr>
            <tr runat="server" ID="VerificationDocumentLocation_Container">
                <td valign="top" class="text"><span class="prompt">VerificationDocumentLocation:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="VerificationDocumentLocation"  AssociatedControlIDs="VerificationDocumentLocation_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>