﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="NonConformanceManagement_Container">
                <td valign="top" class="text"><span class="prompt">Non Conformance Management:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="NonConformanceManagement"  AssociatedControlIDs="NonConformanceManagement_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="NonConformanceResponsible_Container">
                <td valign="top" class="text"><span class="prompt">Non conformance responsible:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="NonConformanceResponsible"  AssociatedControlIDs="NonConformanceResponsible_Container" runat="server" Width="350px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>