﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="View_Decison_Tree_Container">
                <td valign="top" class="text"><span class="prompt">View_Decison_Tree:</span></td>
                <td class="attribute">
                    <qlm:Button  ID="View_Decison_Tree"  Text="View_Decison_Tree" AssociatedControlIDs="View_Decison_Tree_Container" runat="server" Width="250px"/>
                </td>
            </tr>
            <tr runat="server" ID="FoodSafetyHazardDecisionResult_Container">
                <td valign="top" class="text"><span class="prompt">Decision result:</span></td>
                <td class="attribute">
                    <qlm:ComboBox  DataKey="FoodSafetyHazardDecisionResult"  AssociatedControlIDs="FoodSafetyHazardDecisionResult_Container" runat="server" Width="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="FoodSafetyHazardHasControlPoint_Container">
                <td valign="top" class="text"><span class="prompt">Critical control point:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="FoodSafetyHazardHasControlPoint"  InMemory="true" AssociatedControlIDs="FoodSafetyHazardHasControlPoint_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="FoodSafetyHazardDecisionExitQuestion_Container">
                <td valign="top" class="text"><span class="prompt">Exit question:</span></td>
                <td class="attribute">
                    <qlm:ComboBox  DataKey="FoodSafetyHazardDecisionExitQuestion"  AssociatedControlIDs="FoodSafetyHazardDecisionExitQuestion_Container" runat="server" Width="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="CCP_Wizard_Container">
                <td valign="top" class="text"><span class="prompt">CCP_Wizard:</span></td>
                <td class="attribute">
                    <qlm:Button  ID="CCP_Wizard"  Text="CCP_Wizard" AssociatedControlIDs="CCP_Wizard_Container" runat="server" Width="250px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>