﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="CriticalControlPointType_Container">
                <td valign="top" class="text"><span class="prompt">Type of control point:</span></td>
                <td class="attribute">
                    <qlm:ComboBox  DataKey="CriticalControlPointType"  AssociatedControlIDs="CriticalControlPointType_Container" runat="server" Width="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="HasFoodSafetyHazardPlan_Container">
                <td valign="top" class="text"><span class="prompt">HACCP Plan:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="HasFoodSafetyHazardPlan"  InMemory="true" AssociatedControlIDs="HasFoodSafetyHazardPlan_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>