﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="HasHazardAnalysis_Container">
                <td valign="top" class="text"><span class="prompt">Hazard analysis created:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="HasHazardAnalysis"  InMemory="true" AssociatedControlIDs="HasHazardAnalysis_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="CreateHazardAnalysis_Container">
                <td valign="top" class="text"><span class="prompt">Create Hazard Analysis:</span></td>
                <td class="attribute">
                    <qlm:Button  ID="CreateHazardAnalysis"  Text="Create Hazard Analysis" AssociatedControlIDs="CreateHazardAnalysis_Container" runat="server" Width="250px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>