﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="CorrectiveAction_Container">
                <td valign="top" class="text"><span class="prompt">Corrective action:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="CorrectiveAction"  AssociatedControlIDs="CorrectiveAction_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="CorrectiveActionDueDate_Container">
                <td valign="top" class="text"><span class="prompt">Corrective action due date:</span></td>
                <td class="attribute">
                    <qlm:DateTime  DataKey="CorrectiveActionDueDate"  AssociatedControlIDs="CorrectiveActionDueDate_Container" runat="server" Width="240px"/>
                </td>
            </tr>
            <tr runat="server" ID="CorrectiveActionComment_Container">
                <td valign="top" class="text"><span class="prompt">Comments:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="CorrectiveActionComment"  AssociatedControlIDs="CorrectiveActionComment_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="CorrectiveActionResponsible_Container">
                <td valign="top" class="text"><span class="prompt">Responsible:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="CorrectiveActionResponsible"  AssociatedControlIDs="CorrectiveActionResponsible_Container" runat="server" Width="350px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>