﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="ProductDescription_Container">
                <td valign="top" class="text"><span class="prompt">Product description:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="ProductDescription"  AssociatedControlIDs="ProductDescription_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="ProductUserHabits_Container">
                <td valign="top" class="text"><span class="prompt">Product user habits:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="ProductUserHabits"  AssociatedControlIDs="ProductUserHabits_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="ProductTargetGroup_Container">
                <td valign="top" class="text"><span class="prompt">Product target group:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="ProductTargetGroup"  AssociatedControlIDs="ProductTargetGroup_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>