﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="IsMainProcess_Container">
                <td valign="top" class="text"><span class="prompt">IsMainProcess:</span></td>
                <td class="attribute">
                    <qlm:CheckBox  DataKey="IsMainProcess"  AssociatedControlIDs="IsMainProcess_Container" runat="server" Width="110px"/>
                </td>
            </tr>
            <tr runat="server" ID="CreateHACCPAudit_Container">
                <td valign="top" class="text"><span class="prompt">CreateHACCPAudit:</span></td>
                <td class="attribute">
                    <qlm:Button  ID="CreateHACCPAudit"  Text="CreateHACCPAudit" AssociatedControlIDs="CreateHACCPAudit_Container" runat="server" Width="250px"/>
                </td>
            </tr>
            <tr runat="server" ID="HasHACCPAudit_Container">
                <td valign="top" class="text"><span class="prompt">HACCP Audit:</span></td>
                <td class="attribute">
                    <qlm:SingleLink  DataKey="HasHACCPAudit"  InMemory="true" AssociatedControlIDs="HasHACCPAudit_Container" runat="server" Width="350px"/>
                </td>
            </tr>
            <tr runat="server" ID="OpenHACCPAudit_Container">
                <td valign="top" class="text"><span class="prompt">OpenHACCPAudit:</span></td>
                <td class="attribute">
                    <qlm:Button  ID="OpenHACCPAudit"  Text="OpenHACCPAudit" AssociatedControlIDs="OpenHACCPAudit_Container" runat="server" Width="250px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>