﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="RegulationDescripton_Container">
                <td valign="top" class="text"><span class="prompt">RegulationDescripton:</span></td>
                <td class="attribute">
                    <qlm:TextEditor  DataKey="RegulationDescripton"  AssociatedControlIDs="RegulationDescripton_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="HACCPHasRegulation_Container">
                <td valign="top" class="text"><span class="prompt">Regulations:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="HACCPHasRegulation"  AssociatedControlIDs="HACCPHasRegulation_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>