﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="FoodSafetyHazardLikelilhoodScore_Container">
                <td valign="top" class="text"><span class="prompt">FoodSafetyHazardLikelilhoodScore:</span></td>
                <td class="attribute">
                    <qlm:ComboBox  DataKey="FoodSafetyHazardLikelilhoodScore"  AssociatedControlIDs="FoodSafetyHazardLikelilhoodScore_Container" runat="server" Width="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="FoodSafetyHazardSignificanceScore_Container">
                <td valign="top" class="text"><span class="prompt">FoodSafetyHazardSignificanceScore:</span></td>
                <td class="attribute">
                    <qlm:ComboBox  DataKey="FoodSafetyHazardSignificanceScore"  AssociatedControlIDs="FoodSafetyHazardSignificanceScore_Container" runat="server" Width="200px"/>
                </td>
            </tr>
            <tr runat="server" ID="HazardScore_Container">
                <td valign="top" class="text"><span class="prompt">HazardScore:</span></td>
                <td class="attribute">
                    <qlm:TextBox  DataKey="HazardScore"  AssociatedControlIDs="HazardScore_Container" runat="server" Width="219px"/>
                </td>
            </tr>
            <tr runat="server" ID="FoodSafetyHazardLikelihoodNotDetectedScore_Container">
                <td valign="top" class="text"><span class="prompt">FoodSafetyHazardLikelihoodNotDetectedScore:</span></td>
                <td class="attribute">
                    <qlm:ComboBox  DataKey="FoodSafetyHazardLikelihoodNotDetectedScore"  AssociatedControlIDs="FoodSafetyHazardLikelihoodNotDetectedScore_Container" runat="server" Width="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>