﻿<fieldset>
    <div class="propertiescontainer">
        <table class="content_table" cellpadding="3" cellspacing="2" width="100%" border="0">
            <tr runat="server" ID="UsesProduct_Container">
                <td valign="top" class="text"><span class="prompt">Uses products:</span></td>
                <td class="attribute">
                    <qlm:MultiLink  DataKey="UsesProduct"  AssociatedControlIDs="UsesProduct_Container" runat="server" Width="100%" Height="200px"/>
                </td>
            </tr>
        </table>
    </div>
</fieldset>